/* Material Design Theme */
/* @import './theme.scss'; */

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100%;
}

html body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Fixes spacing issue with flexboxgrid */
.row {
  margin: 0px !important;
}

.title {
  font-family: 'Cinzel', sans-serif;
}

.main-card {
  margin-top: 25px;
}